{% extends 'base.html' %}
{% block content %}
<script>
  function capitalize() {
    var codeInput = document.getElementById("room-code");
    codeInput.value = codeInput.value.toUpperCase();
  }
</script>
<div id="form-ui">
  <form method="post" id="form">
    <div id="form-body">
      <div id="welcome-lines">
        <div id="welcome-line-1">Chat Room</div>
        <div id="welcome-line-2">Welcome!</div>
      </div>
      <div id="input-area">
        <div class="form-inp">
          <input placeholder="Enter Your Name" type="text" name="name" value="{{name}}" maxlength="8" autocomplete="off">
        </div>
        <div class="form-inp">
          <input type="text" placeholder="Enter Room Code" name="code" id="room-code" onkeyup="capitalize()" maxlength="4" value="{{code}}" autocomplete="off" />
        </div>
      </div>
      <div id="buttons">
        <button id="join-room-btn" type="submit" name="join">Join Room</button>
      </div>
      <div class="separator">
        <hr class="line">
        <span>or</span>
        <hr class="line">
      </div>
      <div id="buttons">
        <button id="create-room-btn" type="submit" name="create">Create a Room</button>
      </div>
    </div>
  </form>
</div>
{% if error %}
<ul>
  <li>{{error}}</li>
</ul>
{% endif %}
{% endblock %}
