<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <style>
    body {
      font-family: 'Alatsi', sans-serif;
      margin: 0;
      overflow: hidden;
      background: black;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }

    .title {
      font-size: 10vw;
      color: white;
    }

    canvas {
      width: 100%;
    }
  </style>
</head>
<body>
  <div class="container">
    <span class="title">DASHBOARD</span>
  </div>
  <script src="/static/dashboard.js"></script>
</body>
</html>
