<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/dashboard.css">
  <link href="https://fonts.googleapis.com/css?family=Exo:400,700" rel="stylesheet">
</head>
<body>
  <div class="area">
    <div class="circles">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="container">
      <div class="drop" style="--clr:#db4ef4;">
          <div class="content">
            <h2><img src="/static/images/Plus.svg" alt="Create Room"></h2>
              <p>Create a new chat room and start chatting with friends!</p>
              <a href="#" id="startChattingBtn">Start Chatting</a>
          </div>
      </div>
      <div class="drop" style="--clr:#3a9cf1;">
          <div class="content">
            <h2><img src="/static/images/Microphone.svg" alt="Join Room"></h2>
              <p>Join an existing chat room and connect with others!</p>
              <a href="#">Join Now</a>
          </div>
      </div>
  </div>
  </div>
  <script src="/static/js/dashboard.js"></script>
</body>
</html>
