<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login and Registration Form</title>
  <link rel="stylesheet" href="/static/css/registration.css">
</head>
<body>
  <section>
    <div class="container">
      <div class="user signinBx">
        <div class="imgBx"><img src="static/images/signin.jpeg" alt="Sign In Image" /></div>
        <div class="formBx">
          <form action="/signin" method="post">
            <h2>Sign In</h2>
            <input type="email" name="email" placeholder="Email" required />
            <input type="password" name="password" placeholder="Password" required />
            <input type="submit" value="Login" />
            <p class="signup">
              Don't have an account ?
              <a href="#" onclick="toggleForm();">Sign Up.</a>
            </p>
          </form>
        </div>
      </div>
      <div class="user signupBx">
        <div class="formBx">
          <form action="/signup" method="post">
            <h2>Create an account</h2>
            <input type="text" name="name" placeholder="Name" required />
            <input type="email" name="email" placeholder="Email Address" required />
            <div class="password-container">
              <input type="password" name="password" id="password" placeholder="Create Password" required />
              <span class="toggle-password" onclick="togglePasswordVisibility('password')">🔒</span>
            </div>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required />
            <p id="passwordError" style="color: red; display: none;">Passwords do not match!</p>
            <input type="submit" value="Sign Up" />
            <p class="signup">
              Already have an account ?
              <a href="#" onclick="toggleForm();">Sign in.</a>
            </p>
          </form>
        </div>
        <div class="imgBx"><img src="static/images/signup.jpeg" alt="Sign Up Image" /></div>
      </div>
    </div>
  </section>
  <script src="/static/js/registration.js"></script>
</body>
</html>
